
    <h2 class="titulo2">Ranking dos Alunos</h2>


{{#each usuarios}}


    <h1 class = 'titulo' >{{usuario}}</h1>
    <p >Nome: {{nome}}</p>
    <p >Usuario: {{usuario}}</p>
    <p >Email: {{email}}</p>
    <p >Idade: {{idade}}</p>  
    <br>
    <br>
 
 
{{/each}}



